SEM1/DS/assignment4/SOAPClient/SOAPClient/Web References/Admin/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Assignment4" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Assignment4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Assignment4">
      <s:element name="GetAllPackages">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPackagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPackagesResult" type="tns:ArrayOfPackageDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPackageDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PackageDTO" nillable="true" type="tns:PackageDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PackageDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Receiver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="isTracked" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tracking" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationCity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPackageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemovePackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemovePackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemovePackageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPackageForTracking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPackageForTrackingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterPackageForTrackingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePackageTracking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cityDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePackageTrackingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePackageTrackingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllPackagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPackages" />
  </wsdl:message>
  <wsdl:message name="GetAllPackagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="AddPackageSoapIn">
    <wsdl:part name="parameters" element="tns:AddPackage" />
  </wsdl:message>
  <wsdl:message name="AddPackageSoapOut">
    <wsdl:part name="parameters" element="tns:AddPackageResponse" />
  </wsdl:message>
  <wsdl:message name="RemovePackageSoapIn">
    <wsdl:part name="parameters" element="tns:RemovePackage" />
  </wsdl:message>
  <wsdl:message name="RemovePackageSoapOut">
    <wsdl:part name="parameters" element="tns:RemovePackageResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterPackageForTrackingSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterPackageForTracking" />
  </wsdl:message>
  <wsdl:message name="RegisterPackageForTrackingSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterPackageForTrackingResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePackageTrackingSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePackageTracking" />
  </wsdl:message>
  <wsdl:message name="UpdatePackageTrackingSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePackageTrackingResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="GetAllPackages">
      <wsdl:input message="tns:GetAllPackagesSoapIn" />
      <wsdl:output message="tns:GetAllPackagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPackage">
      <wsdl:input message="tns:AddPackageSoapIn" />
      <wsdl:output message="tns:AddPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemovePackage">
      <wsdl:input message="tns:RemovePackageSoapIn" />
      <wsdl:output message="tns:RemovePackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPackageForTracking">
      <wsdl:input message="tns:RegisterPackageForTrackingSoapIn" />
      <wsdl:output message="tns:RegisterPackageForTrackingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePackageTracking">
      <wsdl:input message="tns:UpdatePackageTrackingSoapIn" />
      <wsdl:output message="tns:UpdatePackageTrackingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPackages">
      <soap:operation soapAction="Assignment4/GetAllPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPackage">
      <soap:operation soapAction="Assignment4/AddPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePackage">
      <soap:operation soapAction="Assignment4/RemovePackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPackageForTracking">
      <soap:operation soapAction="Assignment4/RegisterPackageForTracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePackageTracking">
      <soap:operation soapAction="Assignment4/UpdatePackageTracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPackages">
      <soap12:operation soapAction="Assignment4/GetAllPackages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPackage">
      <soap12:operation soapAction="Assignment4/AddPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePackage">
      <soap12:operation soapAction="Assignment4/RemovePackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPackageForTracking">
      <soap12:operation soapAction="Assignment4/RegisterPackageForTracking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePackageTracking">
      <soap12:operation soapAction="Assignment4/UpdatePackageTracking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="http://localhost:61601/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="http://localhost:61601/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>